{% extends 'newsapp/base.html'%}
{% load static %}
{% load cache %}
  	<main>
  		<div class="row">
  			<div class="col-12 articles">
			{% block content %}
  				<div class="mb-3">
				    <h2 class="card-title">{{article.title}}</h2>
				    <p class="card-text">{{article.content|linebreaks}}</p>
				    <p class="card-text"><small class="text-muted">
						{{article.time_create|date:"d M Y"}} в {{article.time_create.time|date:"H:i"}}
						| Автор: <a href="{{article.user.userprofile.get_absolute_url}}">{{article.user.username}}</a>
                    	| Тема: <a href="{{article.cat.get_absolute_url}}">{{article.cat.name}}</a>
						| Просмотры: {{article.views}}</small></p>
				   <ul class="votes">
						<li data-id="{{ article.pk }}" data-type="Article" data-action="like" title="Нравится">
							<span class="fa-regular fa-thumbs-up"></span>
							<span data-count="like">{{ article.likes }}</span>
						</li>
						<li data-id="{{ article.pk }}" data-type="Article" data-action="dislike" title="Не нравится">
							<span class="fa-regular fa-thumbs-down"></span>
							<span data-count="dislike">{{ article.dislikes }}</span>
						</li>

					{% if request.user.is_authenticated %}
						<a class="btn btn-secondary" data-action="favorite" data-id="{{article.pk}}" data-type="article">
							{% if article.in_user_favorites %}
							Убрать из избранного
							{%else%}
							Добавить в избранное
							{%endif%}
						</a>
					{% endif %}
				   </ul>
				</div>
  				<div class="comments-section">

  				<h5 id="comments_count">
					{{ article.comments.count }} комментарий
				</h5>

  				<form id="comment_form" data-obj_id="{{article.pk}}">
	  				<div class="input-group">
					  <textarea id="comment_text" placeholder="Введите комментарий" class="form-control"
								rows="4"></textarea>
					</div>
					<button class="btn btn-secondary comment-btn" type="submit">Комментировать</button>
  				</form>
				<div id="comments">
					{% for comment in article.comments.all %}
					{%if comment.parent.pk is none %}
					<div class="user-comment mb-2" id="comment-{{comment.id}}">
						<div class="user-info">
							<div class="avatar">
								<a href="{{comment.user.userprofile.get_absolute_url}}">
									{%if comment.user.userprofile.avatar %}
									<img class="small-user-image" src="{{comment.user.userprofile.avatar.url}}" alt="">
									{%else%}
									<img class="small-user-image" src="{%static 'newsapp/images/no-profile-photo.png'%}"
										 alt="">
									{%endif%}
								</a>
							</div>
							<div class="login">
								<a href="{{comment.user.userprofile.get_absolute_url}}">{{comment.user.username}}</a>
							</div>
							<div class="datetime">
								<small class="small">
									{{comment.time_create|date:"d M Y"}} в {{comment.time_create.time|date:"H:i"}}
									{% if comment.time_create != comment.time_update %}
									(изменено {{comment.time_update|date:"d M Y"}} в
									{{comment.time_update.time|date:"H:i"}})
									{%endif%}
								</small>
							</div>
							<div class="btn-group comment_menu">
							  <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
									  aria-expanded="false">
							  </button>
							  <ul class="dropdown-menu" data-type="Comment"
								  data-comment_id="{{comment.pk}}" data-object_id="{{article.slug}}"
								  data-user="{{comment.user.pk}}">
								{% if comment.user == request.user %}
								<li><a class="dropdown-item" data-action="edit_comment">Редактировать</a></li>
								<li><a class="dropdown-item" data-action="delete_comment">Удалить</a></li>
								{% endif %}
								<li><a class="dropdown-item" data-action="report_comment">Пожаловаться</a></li>
							  </ul>
							</div>
						</div>
						<div class="comment mt-2">
							<p class="comment-text" id="comment-text-{{comment.id}}">{{comment.text}}</p>
							<div class="comment-reactions">
								<p class="answer-btn" data-comment_id="{{comment.pk}}" data-action="comment">
									Ответить
								</p>
								<ul class="votes">
									<li data-id="{{ comment.id }}" data-type="Comment" data-action="like"
										title="Нравится">
										<span class="fa-regular fa-thumbs-up"></span>
										<span data-count="like">{{ comment.likes }}</span>
									</li>
									<li data-id="{{ comment.id }}" data-type="Comment" data-action="dislike"
										title="Не нравится">
										<span class="fa-regular fa-thumbs-down"></span>
										<span data-count="dislike">{{ comment.dislikes }}</span>
									</li>
								 </ul>
							</div>
							<form class="d-none mb-3" data-comment_id="{{comment.pk}}" data-obj_id="{{article.pk}}"
								  id="comment-form-{{comment.pk}}">
								<div class="input-group">
								  <textarea placeholder="Введите ваш ответ" class="form-control"
											rows="3"></textarea>
								</div>
								<div class="column">
									<button class="btn btn-secondary mt-2" type="submit">Сохранить</button>
									<button class="btn btn-secondary mt-2" data-action="cancel_form"
											type="button">Отмена</button>
								</div>
							</form>
							<div class="comment-answer">
							{% for answer in article.comments.all %}
							{%if answer.parent.pk == comment.pk%}
								<div class="user-comment" id="comment-{{answer.id}}" >
									<div class="user-info">
										<div class="avatar">
										<a href="{{answer.user.userprofile.get_absolute_url}}">
											{%if answer.user.userprofile.avatar %}
											<img class="small-user-image" src="{{answer.user.userprofile.avatar.url}}"
												 alt="">
											{%else%}
											<img class="small-user-image" src="{%static 'newsapp/images/no-profile-photo.png'%}"
												 alt="">
											{%endif%}
										</a>
										</div>
										<div class="login">
											<a href="{{answer.user.userprofile.get_absolute_url}}">
												{{answer.user.username}}
											</a>
										</div>
										<div class="datetime">
											<small class="small">
												{{answer.time_create|date:"d M Y"}} в {{answer.time_create.time|date:"H:i"}}
												{% if answer.time_create != answer.time_update %}
												(изменено {{answer.time_update|date:"d M Y"}} в
												{{answer.time_update.time|date:"H:i"}})
												{%endif%}
											</small>
										</div>
										<div class="btn-group comment_menu">
										  <button class="dropdown-toggle" type="button"
												  data-bs-toggle="dropdown" aria-expanded="false">

										  </button>
										  <ul class="dropdown-menu" data-type="Comment" data-comment_id="{{answer.pk}}"
											  data-object_id="{{article.slug}}" data-user="{{answer.user.pk}}">
											{% if answer.user == request.user %}
											<li><a class="dropdown-item" data-action="edit_comment">
												Редактировать</a></li>
											<li><a class="dropdown-item" data-action="delete_comment">
												Удалить</a></li>
											{% endif %}
											<li><a class="dropdown-item" data-action="report_comment">
												Пожаловаться</a></li>
										  </ul>
										</div>
									</div>
									<div class="comment mt-2">
										<p class="comment-text" id="comment-text-{{answer.id}}">{{answer.text}}</p>
										<div class="comment-reactions">
											<ul class="votes">
												<li data-id="{{ answer.pk }}" data-type="Comment" data-action="like"
													title="Нравится">
													<span class="fa-regular fa-thumbs-up"></span>
													<span data-count="like">{{ answer.likes }}</span>
												</li>
												<li data-id="{{ answer.id }}" data-type="Comment" data-action="dislike"
													title="Не нравится">
													<span class="fa-regular fa-thumbs-down"></span>
													<span data-count="dislike">{{ answer.dislikes }}</span>
												</li>
											 </ul>
										</div>
										<form class="d-none mb-3" data-comment_id="{{answer.pk}}"
											  data-obj_id="{{article.pk}}" id="comment-form-{{answer.pk}}">
											<div class="input-group">
											  <textarea placeholder="Введите ваш ответ" class="form-control"
														rows="3"></textarea>
											</div>
											<div class="column">
												<button class="btn btn-secondary mt-2" type="submit">Сохранить</button>
												<button class="btn btn-secondary mt-2" data-action="cancel_form"
														type="button">Отмена</button>
											</div>
										</form>
									</div>
								</div>
							{%endif%}
							{%endfor%}
							</div>
						</div>
					</div>
					{%endif%}
					{%endfor%}
  				</div>
  			</div>
			{% endblock %}
  			</div>
  		</div>
  	</main>