<form action="{{request.path}}" method="get" class="row" >
		<div class="col-3 mx-auto">
			<p>Период публикации</p>
			<select class="form-select" name="sort" onchange="this.form.submit()">
				{%for item in time_intervals_list %}
					{%if item.interval_desc in picked_sort_list %}
						<option value="{{item.interval_desc}}" selected="selected">{{item.name}}</option>
					{%else%}
						<option value="{{item.interval_desc}}">{{item.name}}</option>
					{%endif%}
				{%endfor%}
			</select>
		</div>
		<div class="col-3 mx-auto">
			<p>Рейтинг</p>
			<select class="form-select" name="sort" onchange="this.form.submit()">
				{%if "rating" in picked_sort_list %}
				<option value="rating" selected="selected">По возрастанию</option>
				{%else%}
				<option value="rating">По возрастанию</option>
				{%endif%}
				{%if "-rating" in picked_sort_list %}
				<option value="-rating" selected="selected">По убыванию</option>
				{%else%}
				<option value="-rating">По убыванию</option>
				{%endif%}
			</select>
		</div>
		<div class="col-3 mx-auto">
			<p>Пагинация</p>
			<select class="form-select" name="sort" onchange="this.form.submit()">
				{%for num in pagination_list%}
				{%if num in paginate_by%}
				<option value="{{num}}" selected="selected">{{num}}</option>
				{%else%}
				<option value="{{num}}">{{num}}</option>
				{%endif%}
				{%endfor%}
			</select>
		</div>
	</form>