body{
	background-color: #F6F6F6 ;
}
.navbar-brand{
	font-size: 48px;
}
main{
	margin: 0px 20% 100px 20%;
	padding: 64px;
	background-color: white;
}
nav {
	padding: 0 20% 0 20%;
}
.carousel-caption{
	background-color: rgba(0, 0, 0, .5);
}
hr{
	margin: 50px 0 50px 0;
	border-bottom: 10px;
	color: #808080;
}	
a{
	text-decoration: none;
	color:#808080; ;
}
form_hr {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}
a:hover{
	color: black;
}
.page-history a{
	color: #808080;
	font-weight: 400;
}
.page-history p span{
	color: #585858;
	font-weight: 700;
}
.page-history {
	margin: 16px 20% 32px 20%;
}
.btn{
	background-color: #212529;
	border: none;
}
.btn:hover{
	background-color: white;
	color:  #212529;
	transition: 0.3;
	border: 1px solid #212529;
}
.menu{
	background-color: #F6F6F6;
}
.row{
	margin: 0 !important;
}
.comments-section{
	margin: 56px 0 0 0;
}
.article-img{
	margin: 32px 0 32px 0;
}
.comment-btn{	
	margin-top: 24px;
}
.comments{
	margin-top: 40px;
}
.list-group-item-action active{
    background: #212529 !important;
}
.views-image {
    width: 20px;
    height: 10px;
}
.avatar{
    padding: 0;
	border-radius: 3px;
}
.login a{
	color: black !important;
	margin: 0 8px 0 16px;
	font-weight: 600;
}
.datetime{
	color: #808080;
}
.user-info{
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.answer-btn{
	color: #808080;
}
.answer-btn:hover{
	cursor: pointer;
	color: black;
}
.comment-reactions{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.likes{
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.likes div{
	margin-left: 8px;
	display: flex;
	flex-direction: row;
}
.likes div img{
	width: 32px;
	height: 24px;
}
.likes div img:hover{
	cursor: pointer;
}
.comment-answer{
	margin-left: 3%;
}
.comment-answer .comment-reactions{
	display: flex;
	flex-direction: row;
	justify-content: right;
}
