<div class="row">
    <div class="col-12 articles mt-3">
    {% for item in articles %}
        <div class="card mb-3">
            <a href="{{ item.get_absolute_url }}">
            </a>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">{{item.title}}</h5>
                    </div>
                    <div>
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                            Действия
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            {%if request.user == item.user %}
                            <li><a class="dropdown-item"
                                   href="{{ item.get_absolute_url }}update_article">Редактировать</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ item.get_absolute_url }}delete_article">Удалить</a></li>
                            {%endif%}
                            <li><a class="dropdown-item" href="#">Пожаловаться</a></li>
                          </ul>
                        </div>
                    </div>
                </div>

                <p class="card-text">{{item.content|truncatewords:35}}</p>
                <p class="card-text">
                    <small class="text-muted">
                        {{item.time_create|date:"d M Y"}} в {{item.time_create.time|date:"H:i"}}
                        | Автор: <a href="{{item.user.userprofile.get_absolute_url}}">{{item.user.username}}</a>
                        | Тема: <a href="{{item.cat.get_absolute_url}}">{{item.cat.name}}</a>
                        | Просмотры: {{item.views}}
                        | Рейтинг: {{item.get_rating}}
                    </small>
                </p>
                <div class="rom">
                <a class="btn btn-secondary" href="{{ item.get_absolute_url }}" type="submit">Читать статью</a>
                {% if request.user.is_authenticated %}
                    <a class="btn btn-secondary" data-action="favorite" data-id="{{item.pk}}" data-type="article">
                        {% if item.is_user_favorite %}
                        Убрать из избранного
                        {%else%}
                        Добавить в избранное
                        {%endif%}
                    </a>
                {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>