{% extends "newsapp/base.html" %}
{%load static%}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Восстановлени пароля</h1>
    {% if validlink %}
        <p>Пожалуйста введите новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"/></p>
        </form>
    {% else %}
        <p>Данная ссылка уже является не актуальной, попробуйте еще раз</p>
    {% endif %}
{% endblock %}