{% extends 'newsapp/base.html'%}
{% load static %}

{% block content %}

	<!--  Карточка профиля пользователя	-->
    {% include 'account/user_info.html'%}
    <hr>
    <div class="row">
		<div class="col-12 articles">
			{%if articles|length != 0%}
			<!--  Общий шаблон выведения статей	-->
			{% include 'newsapp/common_articles_list.html'%}
			{%else%}
				{%if request.user == userprofile.user %}
					<h2>Вы не добавили ни одной статьи :(</h2>
				{%else%}
					<h2>{{userprofile.username}} не добавил ни одной статьи :(</h2>
				{%endif%}
			{%endif%}
		</div>
	</div>

{% endblock %}