{%load static%}
<div class="user-profile row">
    <div class="col-3">
        {% if userprofile.avatar %}
            <img src="{{userprofile.avatar.url}}" alt="">
        {% else %}
            <img src="{% static 'newsapp/images/no-profile-photo.png' %}" alt="">
        {% endif %}
        {%if request.user == userprofile.user %}
        <a class="btn btn-secondary mt-3 w-100" href="{{userprofile.get_absolute_url}}update"
           type="submit">Редактировать профиль</a>
        {% endif %}
    </div>
    <div class="col-9">
        <h1>{{userprofile.user.username}}</h1>
    </div>
    <div class="col-12 mt-3">
        <h2>{{userprofile.title}}</h2>
		<p>{{userprofile.description}}</p>
    </div>
</div>